<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header.ejs') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants <%= rid %></h1>
      <h1>Title of the restaurant</h1>
      <p>Cuisine | Address</p>
      <p>Description of the restaurant</p>
      <a href="#">View Website</a>
    </main>
  </body>
</html>
